---

---

<article class="flex flex-col lg:flex-row gap-4 lg:gap-10 justify-center" >
  <div class="p-6 shadow-md rounded-md lg:w-1/4" >
    <img src="/images/diorama/diorama.webp" alt="">
  </div>
    <div class="p-6 shadow-md rounded-md lg:w-1/4" >
    <img src="/images/diorama/diorama-back.webp" alt="">
  </div>
</article>