@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: Poppins, sans-serif;
  --ease-in-jump: cubic-bezier(0.42, 0, 0.58, 1.8);
  --color-primary: #4682b4;
  --shadow-inset: 1px 1px 8px #0000007a inset, 2px 2px 16px #0000007a inset;
}

input[type=number] {
  appearance: none !important;
}


.dark {
  --color-primary: oklch(0.702 0.183 293.541);
}

html {
  font-family: var(--font-poppins);
}

.menu[type="checkbox"]:checked ~ .container-menu__label {
  box-shadow: 1px -1px 8px #65e60a inset;
}

div:has(.menu[type="checkbox"]:not(:checked)) + .container-elements {
  transform: translateX(-110%);
}

div:has(.menu[type="checkbox"]:checked) + .container-elements {
  transform: translateX(0);
}

@media (width >= 64rem) {
  div:has(.menu[type="checkbox"]:not(:checked)) + .container-elements {
    transform: translateX(-225%);
  }
  div:has(.menu[type="checkbox"]:checked) + .container-elements {
    transform: translateX(12px);
  }
}

@media (width >= 80rem) {
  div:has(.menu[type="checkbox"]:checked) + .container-elements {
    transform: translateX(16px);
  }
}

@media (width >= 96rem) {
  div:has(.menu[type="checkbox"]:checked) + .container-elements {
    transform: translateX(40px);
  }
}

.show-modal {
  transition:
    opacity 0.25s ease-in-out,
    display 0.25s ease-in-out;
  transition-behavior: allow-discrete;
  opacity: 1;
  @starting-style {
    opacity: 0;
  }
}

.hide-modal {
  opacity: 0;
}


@keyframes alertFade {
  0% {
    transform: translateX(50%);
  }

  10% {
    transform: translateX(-100%);
  }

  20% {
    opacity: 1;
    transform: translateX(0);
  }

  80% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-alert {
  animation: alertFade 3s forwards;
}

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes scaleOut {
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes spinOut {
  to {
    transform: rotate(90deg) scale(0);
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}