---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/views/Hero.astro";
import ContactForm from "@components/views/ContactForm.astro";
import BentImagesBoy from "@components/views/BentImagesBoy.astro";
import BentDiorama from "@components/views/BentDiorama.astro";
import Technologies from "@components/views/Technologies.astro";
import Carousel from "@components/views/Carousel.astro";
---

<Layout>
  <section class="flex flex-col gap-4 lg:gap-8" >
    <Hero />
    <Technologies />
    <article class="flex flex-col gap-4 my-8 lg:gap-8" >
      <h4 class="text-center text-xl text-primary dark:text-white uppercase">My blender projects</h4>
      <BentImagesBoy />
      <BentDiorama />
    </article>
    <Carousel />
    <ContactForm />
  </section>
</Layout>
<script src="@lib/actions/sendForm.ts"></script>
