---
import { getI18N } from "@i18n/index";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/views/Hero.astro";
import ContactForm from "@components/views/ContactForm.astro";
import BentImagesBoy from "@components/views/BentImagesBoy.astro";
import BentDiorama from "@components/views/BentDiorama.astro";
import Technologies from "@components/views/Technologies.astro";
import Carousel from "@components/views/Carousel.astro";

const currentLocale = Astro.currentLocale;
const i18n = getI18N({ currentLocale });

const { home } = i18n;
---

<Layout>
  <section class="flex flex-col gap-4 lg:gap-4">
    <Hero />
    <Technologies />
    <article class="flex flex-col gap-4 my-8 lg:gap-8">
      <h4
        class="text-center text-xl lg:text-2xl text-primary dark:text-sky-300 uppercase"
      >
        {home.blenderTitle}
      </h4>
      <BentImagesBoy />
      <BentDiorama />
    </article>
    <Carousel />
    <ContactForm />
  </section>
</Layout>
<script src="@lib/actions/sendForm.ts"></script>
