---
import DropdownTheme from "../dropdown-theme/DropdownTheme.astro";
import MultiLanguage from "../MultiLanguage.astro";
---

<header
  id="header"
  class="flex w-full justify-around items-center p-2 shadow fixed glass z-1 bg-base-300"
>
  <div class="">
    <MultiLanguage />
    <DropdownTheme />
  </div>
</header>
