---
import Language from "@components/layout/Header/Language.astro";
import Logo from "@components/layout/Header/Logo.astro";
import Menu from "@components/layout/Header/Menu.astro";
import Theme from "@components/layout/Header/Theme.astro";
---

<header
  class="fixed inset-x-0 top-0 z-10 border-b border-gray-400 dark:border-white/10 flex items-center justify-between gap-8 p-4 sm:px-6 bg-gray-200 dark:bg-slate-800"
>
  <Logo />
  <div class="flex items-center gap-4 md:gap-8">
    <Theme />
    <Language />
    <Menu />
  </div>
</header>
