---
import Language from "./Header/Language.astro";
import Logo from "./Header/Logo.astro";
import Theme from "./Header/Theme.astro";
import Menu from "./Header/Menu.astro";
---

<header
  class="w-screen max-w-screen flex justify-between items-center py-6 px-4 gap-4 h-[5dvh] fixed border-b border-b-primary lg:h-[10dvh]"
>
  <Logo />
  <div class="flex items-center gap-4 md:gap-8">
    <Theme />
    <Language />
    <Menu />
  </div>
</header>
