---
import Language from "./Header/Language.astro";
import Logo from "./Header/Logo.astro";
import Theme from "./Header/Theme.astro";
import Menu from "./Header/Menu.astro";
---

<header
  class="fixed inset-x-0 top-0 z-10 border-b border-gray-400 dark:border-white/10 flex items-center justify-between gap-8 p-4 sm:px-6 bg-gray-100 dark:bg-gray-800"
>
  <Logo />
  <div class="flex items-center gap-4 md:gap-8">
    <Theme />
    <Language />
    <Menu />
  </div>
</header>
