---
import Layout from "@layouts/Layout.astro";

import { getI18N } from "@i18n/index";
import DownloadImages from "@components/DownloadImages.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout>
  <section
    class="flex flex-col gap-4 lg:gap-15 w-80/100 mx-auto items-center pt-10"
  >
    <h1
      transition:name="convert-images"
      class="text-sky-500 dark:text-amber-400 text-center text-2xl uppercase"
    >
      {i18n.projects.internal_projects[1].title}
    </h1>
    <h2 class="text-primary text-center lg:text-start">
      {i18n.projects.subtitle}
    </h2>
    <DownloadImages />
  </section>
</Layout>
