<div>
  <div class="container-menu">
    <input id="menu" type="checkbox" checked class="menu opacity-0 hidden" />
    <label for="menu">
      <span
        class="text-4xl relative text-primary after:content-[''] after:block after:text-4xl after:w-5 after:h-0.5 after:bg-primary after:absolute after:bottom-0 after:-translate-y-2.5 before:content-[''] before:block before:text-4xl before:w-5 before:h-0.5 before:bg-primary before:absolute before:top-0 before:translate-y-4"
        >&ndash;
      </span>
    </label>
  </div>

  <nav
    class="container-elements w-screen h-screen overflow-y-auto absolute left-0 z-2 transition-transform duration-300 ease-in-jump lg:max-h-[10dvh] lg:border-b lg:border-primary lg:overflow-hidden lg:px-10 bg-gray-100 dark:bg-gray-900"
  >
    <ul
      class="flex flex-col h-full max-h-full py-5 bg-gray-100 dark:bg-gray-900 px-3 lg:flex-row lg:py-3 lg:max-h-[10dvh]"
    >
      <li
        class="border-b border-t border-primary dark:border-white py-2 text-center lg:border-0"
      >
        <a class="block text-primary transition-colors uppercase" href="/"
          >Home</a
        >
      </li>
    </ul>
  </nav>
</div>
