<div>
  <div class="container-menu">
    <input id="menu" type="checkbox" class="menu opacity-0 hidden" />
    <label for="menu">
      <span
        class="text-4xl relative text-primary cursor-pointer after:content-[''] hover:text-gray-800 dark:hover:text-white after:block after:text-4xl after:w-5 after:h-0.5 after:bg-primary after:absolute after:bottom-0 after:-translate-y-2.5 hover:after:bg-gray-800 dark:hover:after:bg-white before:content-[''] before:block before:text-4xl before:w-5 before:h-0.5 before:bg-primary before:absolute before:top-0 before:translate-y-4 hover:before:bg-gray-800 dark:hover:before:bg-white transition-all"
        >&ndash;
      </span>
    </label>
  </div>

  <nav
    class="container-elements w-screen h-screen overflow-y-auto absolute left-0 z-2 transition-transform duration-300 ease-in-jump lg:max-h-[8dvh] lg:border-b lg:border-primary lg:overflow-hidden lg:px-10 bg-gray-200 dark:bg-gray-900"
  >
    <ul
      class="flex flex-col h-full max-h-full py-5  dark:bg-gray-900 px-3 lg:flex-row lg:py-3 lg:max-h-[8dvh]"
    >
      <li
        class="border-b border-t text-primary transition-colors uppercase border-primary dark:border-white py-2 text-center lg:border-0 hover:text-gray-800 dark:hover:text-white hover:border-b-gray-800 dark:hover:border-b-white hover:border-b lg:py-1"
      >
        <a class="block" href="/">Home</a>
      </li>
    </ul>
  </nav>
</div>
