---
import { Icon } from "astro-icon/components";
---

<article class="w-full md:w-4/5">
  <div class="mt-4">
    <dial-upload-drop-zone class="">
      <div
        class="flex flex-col items-center justify-center w-full gap-2 min-h-70"
        id="parent-drop-zone"
      >
        <label
          for="file-download"
          class="flex flex-col items-center justify-center w-full h-52 border-2 border-dashed border-gray-400 rounded-lg cursor-pointer hover:bg-gray-100 dark:hover:bg-slate-700 dark:border-blue-800 drop-zone"
          id="drop-zone"
        >
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <Icon
              name="upload"
              class="text-2xl text-gray-700 dark:text-gray-300"
            />
            <p class="mb-2 text-sm text-gray-500">
              <span class="font-semibold">Click aquí </span> o arrastra los archivos
            </p>
            <p class="text-xs text-gray-500">WEBP, PNG, JPEG O JPG</p>
          </div>
          <input
            id="file-download"
            name="imageFiles"
            type="file"
            accept="image/*"
            multiple
            class="hidden"
          />
        </label>
        <p class="my-2 text-sm text-gray-500" id="lbl-selected-files">
          0 archivos seleccionados
        </p>
      </div>
    </dial-upload-drop-zone>
  </div>
</article>

<script src="@lib/dial-drop-zone"></script>
