---
// import Carousel from "@/components/pages/home/Carousel.astro";
import ContactForm from "@/components/pages/home/ContactForm.astro";
import Hero from "@/components/pages/home/Hero.astro";
import Technologies from "@/components/pages/home/Technologies.astro";
import { getI18N } from "@/i18n";
import MainLayout from "@/layouts/MainLayout.astro";

const currentLocale = Astro.currentLocale;

const i18n = getI18N({ currentLocale });

const { meta } = i18n;
---

<MainLayout title={meta.home.metaTitle} description={meta.home.metaDescription}>
  <section
    class="flex flex-col gap-6 lg:gap-10 w-9/10 md:w-6/10 lg:w-5/10 mx-auto"
  >
    <Hero />
    <Technologies />
    <ContactForm />
  </section>
</MainLayout>
